<div class="email-banner" data-email-banner>
  <div class="email-banner-inner">
    <span class="email-banner-line">Follow the project as it takes form.</span>
    <form class="email-banner-form" data-email-form>
      <input type="email" required placeholder="your@email" aria-label="Email address" data-email-input />
      <button type="submit" data-email-submit>Follow</button>
    </form>
    <span class="email-banner-thanks" data-email-thanks hidden>Thank you. We will be in touch.</span>
  </div>
</div>
